body { background: #252525; }

header { text-align: center; }

header img { margin: 20px auto; }

main { text-align: center; }

canvas { border: 4px solid #1e1c1b; }

#game_start {
    padding: 10px 20px;
    margin: 4px 38px;
    border-radius: 2px;
    background: #1e1c1b;
    
    cursor: pointer;
    
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ccc;
    letter-spacing: 20px;
}

#game_start:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    color: #a0ff78;
}

#game_start:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    color: #a0ff78;
}