body {
    background: #252525;
}

header {
    text-align: center;
}

header img {
    margin: 40px auto;
}

main {
    text-align: center;
}

canvas {
    /*width: 200px;
    height: 200px;*/
    border: 4px solid #1e1c1b;
}